@import '../../../styles/settings.scss';
@import '../../../styles/typography.scss';

// 600 x 360px - smallest viewport

.home {
  height: 100vh;

  /* ------------ HERO ------------ */

  .hero {
    height: 85vh;
    padding-top: 10vh; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .introduction {
      overflow: hidden;

      .name {
        font-size: 65px;
        font-weight: $header-weight;
        margin-left: -2px;
      }

      .role {
        font-size: 30px;
        letter-spacing: 2px;
        text-transform: uppercase;
        animation: appear_slide 1.3s;
      }
    }

    .info {
      margin: 5vh 0;
      display: flex;
      justify-content: space-between;

      .buttons {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        gap: 15px;
        
        a { 
          height: 35px;
          width: 150px;
          font-size: 15px;
          visibility: hidden;
          animation: appear_fade 1s;
          animation-fill-mode: forwards;
        }

        @for $i from 1 through 2 {
          a:nth-child(#{$i}) {
            animation-delay: 0.8 + $i * 0.2s;
          }
        }
      }

      .about {
        width: 250px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .text {
          overflow: hidden;

          .about_me {
            font-size: 12px;
            margin: 0;
            font-weight: 200;
            animation: appear_slide 1.8s;
          }
        }

        .links {
          a {
            margin-right: 15px;
            text-decoration: none;
            color: $color-dark;
            font-size: 10px;
            visibility: hidden;
            animation: appear_fade 1.3s;
            animation-fill-mode: forwards;
            position: relative;
          }

          @for $i from 1 through 2 {
            a:nth-child(#{$i}) {
              animation-delay: $i * 0.3s;
            }
          }

          a::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 100%;
            background: $color-dark;
            transform-origin: left;
            transform: scale(0,1);
            transition: 0.3s all;
          }
  
          a:hover::after {
            transform: scale(1,1);
          }

        }
      }
    }
  }

  .hero::after {
    position: absolute;
    content: '';
    height: 5px;
    width: 100%;
    background: $color-dark;
    bottom: 0;
    transform-origin: 0% 100%;
    animation: bar_expand 2s;
  }

  /* ------------ SCROLL ------------ */

  .scroll_container {
    height: 15vh;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .scroll {
      position: relative;
      margin: 0;
      writing-mode: vertical-rl;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 6px; 
      opacity: 0;
      animation: show_scroll 1s;
      animation-fill-mode: forwards;
      animation-delay: 3s;
    }

    .scroll::after {
      position: absolute;
      content: '';
      background: $color-dark;
      height: 100%;
      width: 1px;
      top: 0;
      left: -2px;
      opacity: 0.5;
      transform-origin: top;
      animation: underline_scroll 6s infinite ease-in-out;
      animation-delay: 3s;
    }
  }
}

@keyframes show_scroll {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes underline_scroll {
  0% {
    transform: scaleY(0);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes bar_expand {
  0%, 15% {
    transform: scale(0,1);
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes appear_slide {
  0%, 30% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes appear_fade {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@import './Hero_responsive.scss';
