@import '../../../styles/settings.scss';
@import '../../../styles/typography.scss';

footer {
  position: relative;
  background: $color-dark;

  .message_container {
    display: flex;
    justify-content: space-around;
    padding: 80px 0;
    text-decoration: none;

    .footer_message {
      font-size: 75px;
      color: $color-light;
      font-weight: 400;
      margin: 0 100px;
    }
  }

  .media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    position: relative;

    a {
      color: $color-light;
      text-decoration: none;
      font-size: 18px;
      opacity: 0.5;
      transition: all 0.4s;
    }

    a:hover {
      opacity: 1;
    }
  }


  .media::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    background: $color-light;
    top: 0;
    left: 0;
  }
}

@import './Footer_responsive.scss';
