
.scroll_message {
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  width: 65px;
}

.scroll_message::after {
  content: '';
  position: absolute;
  height: 30px;
  width: 1px;
  background: black;
  bottom: -1000%;
  left: 50%;
}
